.container {
    display: flex;
    justify-content: center; /* Center the images horizontally */
    gap: 60px;
    margin:10px 
}

.picture{
    padding-left: 60px;
    padding-bottom: 40px;
}

.butterfly {
    width: 700px; /* Set a fixed width for all images */
    height: 500px; /* Set a fixed height for all images */
    object-fit: cover; 
    border-radius: 10%;
    /* border: solid 2px black; */
}


.stats {
    margin-left: 80px;
    /* border-radius: 10px;
    border: solid 1px gray; */
}

.cost {
    font-weight: 600;
    font-size: xx-large;


}

.address, .room {
    font-size: x-large;
    font-weight: 300;
}

.more-details {
    /* border: solid px gray; */
    border-radius: 10px;
}

.deats {
    margin-bottom: 10px;
}

.save-but {
    margin-top: 300px;
    border-radius: 10px;
    width: 120px;
    height: 30px;
    color: black;
    background: grey;
}

.apartment-name {
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: 500;
  }

.deats-header {
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: 400;
}

.deats-sub {
font-size: 16px; /* Adjust the font size as needed */
margin-bottom: 10px;
}
  
.small {
    margin-bottom: 10px;
    

}