.cont1 {
    display: flex;
    justify-content: center; /* Center the images horizontally */
    gap: 40px;
    margin:10px 
}

.picture{
    padding-left: 60px;
    padding-bottom: 40px;
}

.butterfly {
    width: 700px; /* Set a fixed width for all images */
    height: 600px; /* Set a fixed height for all images */
    object-fit: cover; 
    border-radius: 10%;
    /* border: solid 2px black; */
}


.stats {
    margin-left: 80px;
    /* border-radius: 10px;
    border: solid 1px gray; */
}

.cost {
    font-weight: 600;
    font-size: xx-large;


}

.address, .room {
    font-size: x-large;
    font-weight: 300;
}

.more-details {
    /* border: solid px gray; */
    border-radius: 10px;
}

.deats {
    margin-bottom: 10px;
}

.save-butt {
    border-radius: 10px;
    width: 100%;
    height: 30px;
    color: white;
    background: black;
    border: 1px solid white; 
    margin-top: 50px;
}
.save-butt:hover {
    background-color: #66909a;
    color: white;
  }
  

.apartment-name {
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: 500;
  }

.deats-header {
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: 400;
}

.deats-sub {
font-size: 16px; /* Adjust the font size as needed */
margin-bottom: 10px;
}
  
.small {
    margin-bottom: 10px;
    

}

.cont2{ 
    display: flex;
    justify-content: center; /* Center the images horizontally */
    gap: 60px;
    margin:10px 

}


.format1{
    display: flex;
    flex-direction: column;
}

.square {
    width: 350px;
    height: 280px;
    object-fit: cover; 
    margin-bottom: 50px;


}

.t {
    width: 350px; /* Set a fixed width for all images */
    height: 280px; 
    border-radius: 10px;

}

.idk {
    width: 600px; /* Set a fixed width for all images */
    height: 500px; 
    border-radius: 10px;


}