/* SearchBar.css */
.search-bar {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 20px;
  }
  
  .search-bar input {
    padding: 10px;
    font-size: 16px;
    width: 800px;
    border: 2px solid rgb(134, 134, 134);
    border-radius: 40px;
    background-color: black;
  }
  
  .results {
    margin-top: 20px;
    width: 100%;
    max-width: 300px;
  }
  
  .result-item {
    padding: 10px;
    border: 1px solid #ddd;
    margin: 5px 0;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
 